@font-face {
   font-family: 'Playlist-Script';
   font-display: swap;
   src: url('file:///Users/silviadominguez/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2021-02-15_130001/fonts/Playlist-Script/font.ttf');
}
