@font-face {
   font-family: 'Quentin';
   font-display: swap;
   src: url('file:///Users/silviadominguez/Desktop/Synergy%20Blueprint/Cat%20Kabira%20Yoga/Cat%20Kabira%20Yoga%20Mobirise/fonts/Quentin/font.ttf');
}
